<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
        </button>
        <h1>Employee Manager</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-flat-button color="primary" class="docs-navbar-header-item-selected" [routerLink]="'/departments'">Departments</a>
            <a mat-flat-button color="primary" class="docs-navbar-header-item-selected" [routerLink]="'/employees'"> Employees </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>